*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
}
section{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding:100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
}
header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
}
header .logo{
    position: relative;
    max-width: 80px;

}
header ul{
    position: relative;
    display: flex;

}
header ul li{
    list-style: none;
}
header ul li a{
    color: #333;
    margin-left: 40px;
    text-decoration: none;
    font-weight: 400;
    /* display: inline-block; */

}
.content{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.content .textBox{
    position:relative;
    max-width: 800px;
}
.content .textBox h2{
    color: #333;
    font-size: 4em;
    line-height: 1.4em;
    font-weight: 500;

}
.content .textBox h2 span{
    color: #017413;
    font-size:1.2em;
    font-weight: 900;
}
.content .textBox p{
    color: #333;
}
.content .textBox a{

    padding: 8px 20px;
    display: inline-block;
    margin-top: 20px;
    background: #017413;
    color: #fff;
        /* border-radius: 40px; */
        font-weight: 500 ;
        text-decoration: none;
        letter-spacing: 1px;
}
.content .textBox a:hover{

    padding: 8px 20px;
    display: inline-block;
    margin-top: 20px;
    background: #017413;
    color: #fff;
        /* border-radius: 40px; */
        font-weight: 500 ;
        text-decoration: none;
        letter-spacing: 1px;
}

.content .imgBox{
    width: 600px;
    display: flex;
    justify-content: flex-end ;
    padding-right: 50px;
    margin-top: 50px;
}
.content .imgBox img{
    max-width:340px;

}
.thumb{
    position: absolute;
    top: 80%;
    bottom: 20px;
    /* left: 0px; */
    transform: translateX(200%);
    display: flex;

}

.thumb li{
    list-style: none;
    /* display: inline-block; */
    margin: 0 20px;
    cursor: pointer;
    transition: 0.5s;
}
.thumb li:hover{
transform: translateY(-50px);
}
.thumb li img{
    max-width: 60px;
}
.sci{
    position: absolute;
    top:50%;
    right: 30px;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
.sci li{
    
    padding: 10px;
    list-style: none;

    
}
.sci li a{
    cursor: pointer;
    margin:5px 0;
    /* transform: scale(2); */
}